HELP.md
.gradle
build/
gradle/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Qclass
#**/src/main/generated/com/metamong/server/entity

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### indexl.html
**/src/main/resources/static/

# backup 파일
*.bak

# build layer 파일
dependencies/
snapshot-dependencies/
spring-boot-loader/
application/

### application 파일
**/src/main/resources/application-prod.yml