// background color
$medium-light-blue: #7781d5;
// 버튼 색상
$medium-light-yellow: #fbd867;
// 메뉴바 노랑
$menu-yellow: #ffcf55;
// 화이트 투명
$opacity-white: rgba(255, 255, 255, 0.5);

$offwhite: darken(white, 10%);
// 링크나 기타 등등
$click-blue: #606bd3;
$click-yellow: #f5c321;
