// KoPub돋움
@font-face {
  font-family: "KoPubDotumMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// 카페24 써라운드 에어
@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// 카페24 써라운드
@font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// 스포카한산네오regular
@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

//산돌 삼립 outline
@font-face {
  font-family: "SDSamliphopangche_Outline";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

//산돌 삼립 basic
@font-face {
  font-family: "SDSamliphopangche_Basic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Basic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "SDSamliphopangche_Basic";
}

.logo-text {
  font-family: "SDSamliphopangche_Outline";
}
