.guestbookList {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 3%;
  .sketch {
    position: relative;

    img {
      width: 50%;
      height: 45%;
    }

    .writer {
      position: absolute;
      top: 40px;
      left: 80px;
    }
  }
}
