@font-face {
  font-family: "SDSamliphopangche_Basic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Basic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "SDSamliphopangche_Basic";
}

@import "./reset.scss";
@import "./color.scss";

// 글꼴 설정 관련
@import "./fonts.scss";
