.menu {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-right: 35px;
  max-width: 100%;

  ul {
    margin-left: 3px;
  }

  &Img {
    width: 120px;
    height: 80px;
  }

  &SelectMenu {
    position: absolute;
    width: 170px;
    height: 260px;
    top: 101px;
    right: 1.5%;
    background: $menu-yellow;
    box-shadow: 7px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  &Icon {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    margin-right: 2px;
    font-size: 19px;
    padding-left: 5.5px;
    padding-top: 3px;
    margin-right: 7px;
    color: $menu-yellow;
    box-shadow: 5px 5px 5px rgba(170, 170, 204, 0.1), 5px 5px 10px rgba(170, 170, 204, 0.4);
  }

  &AddIcon {
    @extend .menuIcon;
    padding-left: 4.5px;
  }

  .list-group {
    opacity: 1;
    .list-group-item {
      border: none;
      font-size: 20px;
      margin-top: 2px;
    }
  }

  .slide-enter-active {
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  .slide-leave-active {
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }

  .slide-enter-to,
  .slide-leave {
    max-height: 100px;
    overflow: hidden;
  }

  .slide-enter,
  .slide-leave-to {
    overflow: hidden;
    max-height: 0;
  }
}
