.FormModal {
  .overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0.5;
    background-color: black;
  }
  .modal-card {
    position: relative;
    max-width: 80%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    background-color: white;
    min-height: 500px;
    z-index: 10;
    opacity: 1;
  }
  .modal-dialog {
    top: 100px;
    .modal-content {
      border: none;
      .modal-header {
        background-color: $medium-light-yellow;
        color: white;
      }

      .modal-body {
        textarea {
          width: 450px;
        }
      }

      .modal-footer {
        button {
          font-size: 15px;
          width: 60px;
          height: 40px;
        }
      }
    }
  }
}
