.unityScreen {
  height: max-content - 100;
  z-index: 1;
  #unity-container {
    position: absolute;
    margin-top: 50px;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);

    #unity-canvas {
      background: #231f20;
      border-radius: 30px;
      border: none;
    }
  }
  #unity-loading-bar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }

  .unity-mini {
    top: 60px !important;
    left: 80px !important;
    transform: translate(0%, 0%);
  }

  .back-map {
    position: absolute;
    display: inline-block;
    z-index: 10;
    width: 150px;
    height: 100px;
    margin: 0px;
    padding-left: 20px;
    cursor: pointer;
    color: #3a4394;
    &:hover {
      box-shadow: 200px 0 0 0 rgba(38, 56, 133, 0.5) inset;
      color: $offwhite;
    }
  }
}
