.unityScreen {
  height: max-content - 100;
  z-index: 1;
  #unity-container {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 1px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    #unity-canvas {
      background: #231f20;
      width: 100%;
      height: 100%;
      border-radius: 30px;
      border: none;
    }
  }
  #unity-loading-bar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }

  .unity-mini {
    display: inline-block !important;
    top: 10px !important;
    left: 10px !important;
    transform: translate(0%, 0%) !important;
    width: 150px !important;
    height: 100px !important;
  }

  .back-map {
    position: absolute;
    display: inline-block;
    z-index: 10;
    width: 150px;
    height: 100px;
    margin: 0px;
    padding-left: 20px;
    cursor: pointer;
    color: #202b8f;
    font-size: 1.1rem;
    font-weight: 500;
    &:hover {
      box-shadow: 200px 0 0 0 rgba(38, 56, 133, 0.5) inset;
      color: $offwhite;
    }
  }

  button {
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.1), 2px 2px 5px rgba(170, 170, 204, 0.25), 5px 5px 10px rgba(170, 170, 204, 0.5),
      -5px -5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-color: $medium-light-yellow;
    filter: drop-shadow(5px 7px 4px rgba(0, 0, 0, 0.25));
    margin-top: 2%;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      box-shadow: 400px 0 0 0 rgba(0, 0, 0, 0.2) inset;
      color: $offwhite;
    }
  }

  .start {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, 0%);
    z-index: 2001;

    .card {
      background-color: $opacity-white;
      border-radius: 40px;
      padding-left: 3px;
    }
    .card-text {
      font-size: 1.3rem;
    }

    .help {
      float: right;
      top: -5%;
      right: 150px;
    }
    .chatting {
      position: absolute;
      bottom: 12%;
      left: 150px;
    }
    .game {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, 0%);
    }

    .yellow-btn {
      position: absolute;
      left: 51%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 180px;
      height: 100px;

      border-radius: 20px;
      font-size: 2rem;
    }
  }
}
