.user {
  color: white;
  padding-left: 10%;
  padding-right: 10%;
  background-color: $medium-light-blue;
  list-style-type: none;

  // li {
  // font-size: 1.8em;
  // text-align: center;
  // padding-bottom: 30px;
  // }
  button {
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.1), 2px 2px 5px rgba(170, 170, 204, 0.25), 5px 5px 10px rgba(170, 170, 204, 0.5),
      -5px -5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-color: $medium-light-yellow;
    filter: drop-shadow(5px 7px 4px rgba(0, 0, 0, 0.25));
    margin-top: 2%;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      box-shadow: 400px 0 0 0 rgba(0, 0, 0, 0.2) inset;
      color: $offwhite;
    }
  }

  .not-submit {
    color: white;
    background: inherit;
    border: none;
    box-shadow: none;
    transition: none;
    filter: none;

    &:hover {
      box-shadow: none;
    }
  }

  .logo-text {
    padding-bottom: 20px;
  }

  .img_main {
    text-align: center;
    .logo-image {
      width: 400px;
      height: 300px;
    }
  }

  .login_form {
    text-align: center;
  }

  .join {
    .invalidTxt {
      color: #cf5555;
      margin: 0;
      font-size: small;
      height: 10px;
    }

    li {
      margin-left: 10%;
      width: 87%;
    }

    .subsubmitButton {
      width: 59%;
    }
  }

  .mypage {
    .invalidTxt {
      color: #cf5555;
      margin: 0;
      font-size: small;
      height: 10px;
    }

    img {
      width: 130px;
      height: 130px;
      position: relative;
      padding: 0px;
      margin-bottom: 40px;
    }
  }

  .rank {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 500px;

    .m-contain {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, 0%);
      background-color: white;
      margin: 0 auto;
      opacity: 0.7;
      border-radius: 10px;
      width: 40%;
      height: 500px;
    }

    .rank-list {
      top: 33%;
      left: 50%;
      transform: translate(-45%, 0%);

      position: absolute;
      font-size: 1.7rem;
      width: 58%;

      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;

        font-size: 1.7rem;
        width: 90%;
        padding: 0px;
        overflow-y: auto;
        li {
          margin: 0px;
          background-color: transparent;
          color: $medium-light-blue;
          border: none;
          text-align: left;
        }

        .first {
          color: #fff704;
          font-size: 2.5rem;
        }
        .second {
          color: #9a9a9a;
          font-size: 2rem;
        }
        .third {
          color: #cd7f32;
          font-size: 1.9rem;
        }
      }
    }

    ::-webkit-scrollbar {
      width: 6px;
    }

    ::-webkit-scrollbar-thumb {
      height: 17%;
      background-color: #333861;
      border-radius: 10px;
    }
  }
}
